<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tokyo News</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Latest News on Tokyo</h1>
    <ul class="news-list">
        <% articles.forEach(article => { %>
            <li>
                <a href="<%= article.url %>" target="_blank"><%= article.title %></a>
                <p><%= article.description %></p>
            </li>
        <% }) %>
    </ul>
</body>
</html>
