<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seoul News</title>
</head>
<body>
    <h1>Latest News on Seoul</h1>
    <ul>
        <% articles.forEach(article => { %>
            <li>
                <a href="<%= article.url %>"><%= article.title %></a>
                <p><%= article.description %></p>
            </li>
        <% }) %>
    </ul>
</body>
</html>
